#article-page {
    display: grid;
    grid-template-rows: 150px auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "t1 t1 t1 t1 t1 t1"
                         "t5 t5 t5 t5 t5 t5";
}

.article-main {
    grid-area: t5;
}

.article-subheading {
    color:purple
}

.article-title {
    margin-top: 0;
    color: white;
    text-shadow: #363021 2px 5px;
    font-size: 2em;
}

.article-author{
    color: white;
    text-shadow: #363021 2px 5px;
    font-size: 2em;
}

.article-image {
    background-size:cover;
    overflow: hidden;
    border: 5px solid purple;
    border-radius: 1px;
    grid-area: t1
}

.article-left {
    grid-area: t3;
}

.article-right {
    grid-area: t4;
}

.padding {
    padding:0 10px 10px 10px;
}

.inline {
    display: inline;
}

.article-main:nth-child(n +2) {
    font-size: 1.5em;
    font-weight: lighter;
}

.social-container {
    display: flex;
    flex-direction: row-reverse;
}

.social-icon {
    max-width: 4rem;
    margin:10px;
    filter: invert(3%) sepia(85%) saturate(4025%) hue-rotate(209deg) brightness(94%) contrast(119%);
}

.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(9%) sepia(86%) saturate(5819%) hue-rotate(299deg) brightness(88%) contrast(101%);
    transition-duration: .5s;
}