.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-link {
    margin-bottom:20px;
    max-width: 250px;
    background-color: #0D001C;
    padding: 10px;
    display:flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
}

.contact-link:hover {
    transform: scale(1.01);
    transition-duration: .5s;
}

.contact-icon {
    max-width: 3rem;
    border-radius: 1rem;
    filter: invert(98%) sepia(37%) saturate(2%) hue-rotate(288deg) brightness(110%) contrast(101%);
}

.contact-text {
    display: inline-block;
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
    padding-left: 15px;
}

#contact-small {
    margin: 20px 0px; 
    font-weight: lighter;
}

#contact-fig {
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/90/42/72/1000_F_290427206_rpE61ruzRihqe0MvYQuBpDD5H2jZmZOT.jpg" );
    background-position: cover;
    height: 200px;
}

figure {
    margin: 20px 0;
    width: 94%;

}

figcaption {
    color:white;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
}