@media screen
and (min-width:1286px) {
    
    body{
        grid-template-rows: 5vh 90vh 5vh;
        grid-template-areas: "h h h h h h h h h h h h"
                             "a a a m m m m m m m m m"
                             "f f f f f f f f f f f f"
    }

    .article-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "t3 t4"
    }

    .article-left {
        border-right: 1px solid purple;
    }

    .blog-card{
        width: 40%;
    }
}