@media screen and (max-width:750px) {

    body {
        grid-template-rows: 5vh 15vh auto;
        grid-template-areas: "h h h h h h h h h h h h"
                             "a a a a a a a a a a a a"
                             "m m m m m m m m m m m m";
    }

    .blog-container{
        justify-content: center;
    }


    .contact-container {
        align-items: center;
    }

    .contact-link {
        min-width: 90%;
    }
}