@media screen and (max-width:600px) {

    .blog-container{
        justify-content: center;
    }


    .contact-container {
        align-items: center;
    }

    .contact-link {
        min-width: 90%;
    }
}